<h1>
  Welcome to {{title}}!
</h1>

<div>
  <div id="login">
    <h2>First, log in to spotify</h2>
    <a id="login" href="/login">Log in</a>
  </div>
  <div id="loggedin">
  </div>
</div>

<script id="loggedin-template" type="text/x-handlebars-template">
  <h1>Logged in as {{display_name}}</h1>
  <img id="avatar" width="200" src="{{images.0.url}}" />
  <dl>
   <dt>Display name</dt><dd>{{display_name}}</dd>
   <dt><a href="/getUser">Username</a></dt><dd>{{id}}</dd>
   <dt>Email</dt><dd>{{email}}</dd>
   <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
   <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
   <dt>Profile Image</dt><dd>{{images.0.url}}</dd>
  </dl>
  <p><a href="/">Log in again</a></p>
</script>